h3{
    text-align: center;
    margin:0px 0 20px 0;
    padding-top: 20px;
}

div.container{
    display:flex;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;
}
div.carrito{
    display:flex;
    flex-direction: column;
    gap:10px;
}
div.producto{
    display:flex;
    gap:4vw;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.050);
    padding:20px;
    border-radius: 10px;
}
.producto img{
    width:100px;
    height: 100px;
    border-radius: 10px;
}

div.producto p{
    margin:0;
}

.menos, .mas{
    border:none;
    background:none;
    text-align: center;
    font-weight: bold;
}

.cantidad{
    border:none;
    background:none;
    width:2em;
    max-width: fit-content;
    text-align: center;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button {/*oculta los botones que vienen por defecto*/
  -webkit-appearance: none;
}

div.total{
    background-color: rgba(0, 0, 0, 0.050);
    max-height: fit-content;
    border-radius: 10px;
    width:300px;
}

.total ul{
    list-style-type: none;
    text-align: center;
    padding:0;
    margin:0;
}
h4{
    margin:0;
}
.precio{
    border-bottom: 1px solid rgba(0, 0, 0, 0.100);
    border-top: 1px solid rgba(0, 0, 0, 0.100);
}

li{
    padding:10px;
}

#btn-comprar{
    background-color:orange;
    border:none;
    font-weight: bold;
    width:200px;
}
#btn-comprar:active{
    transform: scale(0.95);
}
#btn-comprar:focus{
    box-shadow: none;
}
footer .container{
    display:flex;
    justify-content: space-between;
}

#modal {
    display: flex;
    justify-content: center;
}
/*MODAL DE ENVIO*/
.modal-content{
    padding:30px;
    background-image:linear-gradient(140deg, #387D9F,#1C546F,#001d2c);
}
.modal-body, .modal-header, .modal-footer{
    background-color: white;
}

#myTab{
    border-bottom: 3px solid orange;
}
.nav-tabs .nav-link.active{
    background-color: orange;
    color:white;
}
.modal-body{
    padding:0;
}

.nav-tabs .nav-link {
  transition: all 0.2s ease;
  color:orange;
  font-weight:bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border:none;
}
li.nav-item{
    padding-bottom:0px;
}
form.direccion input{
    max-width: 90%;
    margin:auto;
}
form.direccion label{
    font-weight: bold;
    margin-left:5%;
}
div#envio{
    margin:auto;
    max-width: 90%;
}

#aviso, #faltaEnvio{
    text-align: center;
}

@media (max-width:600px){
    div.container{
        flex-direction: column;
        align-items: center;
    }
    div.producto{
        flex-direction: column;
        align-items: center;
        width:300px;
    }
    .nav-tabs .nav-link {
        padding-left: 5px;
        padding-right:5px;
    }
}
