#moneda{
    margin-top: 32px;
}
div.moneda{
    min-width: fit-content;
}
#cuenta-destino{
    color:rgba(0, 0, 0, 0.300)
}
#aviso-compra{
    text-align: center;
    margin-top: 10px;
}

/*confetti overlay*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

/* Visible state */
#overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/* Sliding text */
.slide-text {
  font-size: 2rem;
  animation: slideDown 1s ease forwards;
}
.slide-text h1 {
  font-size: 4rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.785);
  font-weight: bold;
}

@keyframes slideDown {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(calc(50vh - 50px));
    opacity: 1;
  }
}

#volverBtn {
  padding: 10px 10px;
  font-size: 1.2rem;
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
@keyframes slideDownMobile {
    from {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(35%);
      opacity: 1;
    }
  } 

@media screen and (max-width:700px){

  .slide-text {
  font-size: 2rem;
  animation: slideDownMobile 1s ease forwards;
}
}